<!--@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");-->
<div class="body"> <!-- Outer body with gradient background -->
  <div class="container"> <!-- Main form container -->
    <h4>Movie Dekho > Login</h4>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> <!-- Correct form group -->
      <div class="inputBox">
        <input
          type="text"
          formControlName="username"
          placeholder="Username"
        />
      </div>
      <br/>
      <br/>
      <div class="inputBox">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          minlength="5"
        />
      </div>

      <div class="inputBox">
        <input type="submit" value="Login" [disabled]="!loginForm.valid" />
      </div>

      <div class="already">
        Don't have an account? <a href="/register">Register here</a>
      </div>
    </form>
  </div>
</div>

