
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand text-primary">Movie Dekho</h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Navigation links -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" (click)="navigateTo('/home')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" (click)="navigateTo('/login')" *ngIf="!loggedIn">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" (click)="navigateTo('/register')" *ngIf="!loggedIn">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  (click)="updateProfile()" >Update Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  (click)="validateSubscribe()">Subscribe</a>
        </li>
      </ul>
      <div style="text-align: right;">
        <button
          class="btn btn-outline-danger btn-sm" 
          *ngIf="loggedIn" 
          (click)="logout()"
          style="margin-left: 10px;" >
          Log Out
        </button>
        </div>
    </div>
  </div>
</nav>

