<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  * {
    font-family: "Poppins", sans-serif;
  }

  .body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(45deg, #fe0682,#0de4ef); */
    /* background-color: #243341; */

    background: #8E0E00; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #1F1C18, #8E0E00
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #1F1C18, #8E0E00
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .container {
    position: relative;
    padding: 70px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  }

  .container h4 {
    color: #111;
    margin-bottom: 65px;
    line-height: 1em;
    font-weight: 500;
    padding-left: 10px;
    border-left: 5px solid #e91e63;
  }

  .container .inputBox,.container .inputBox1  {
    position: relative;
    width: 300px;
    height: 46px;
    margin-bottom: 35px;
  }

  .container .inputBox:last-child {
    margin-bottom: 0;
  }

  .container .inputBox input ,.container .inputBox1 input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #111;
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    color: #111;
    font-weight: 300;
  }

  .container .inputBox ::placeholder {
    color: rgba(225, 225, 225, 0.5);
  }

  .container .inputBox span,.container .inputBox1 span {
        position: absolute;
        top: 1px;
        left: 1px;
        padding: 10px;
        display: inline-block;
        font-size: 16px;
        color: #111;
        font-weight: 300;
        transition: 0.5s;
        pointer-events: none;
      }

     
      .container .inputBox input:valid~span {
                position: translateX(-10px) translateY(-32px);
                font-size: 15px;
            }


  .container .inputBox input[type="submit"] {
    background: #2196f3;
    color: #fff;
    border: none;
    max-width: 120px;
    cursor: pointer;
    font-weight: 500;
    align-content: center;
    margin-left: 85px;
  }

  .container .inputBox input[type="submit"]:hover {
    background: #e91e63;
  }
  .container .inputBox span {
                transform: translateX(-10px)translateY(-35px);
                font-size: 15px;

            }

  .container .already {
    align-content: center;
    margin-left: 40px;
  }
</style>


<div class="body">
<div class="display:flex justify-content:space-around align-items:center min-height:100vh">
<div class="container">
  <h4>Sign Up > Movie Dekho</h4>
  <form action="login" method="post">

  <div class="inputBox">
    
    <input  type="email" name="username" required="required" />
    <span>Email</span>
    
  </div>

  <div class="inputBox">
    
    <input
      type="password"
      name="password"
      required="required"
      minlength="5"
      
    />
    <span>Password</span>
    
  </div>

  <div class="inputBox">
    
    <input
      type="password"
      name="password"
      required="required"
      minlength="5"
      
    />
    <span>Confirm Password</span>
    
  </div>

  <div class="inputBox">
    <input type="submit" value=" Sign Up" />

    <!-- <p>Or</p>


    <h6>
      SignUp
    </h6> -->
  </div>

</form>
</div>
</div>
</div>



<!-- <div class="card m-auto mt-5 w-50 shadow border border-0 p-3">
  <div class="d-flex flex-row justify-content-between">

    <h2>Sign Up </h2>
    <h2 class="text-primary">Movie Dekho</h2>
  </div>
  <div class="mb-1 mt-4">
    <label for="exampleFormControlInput1" class="form-label mb-1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="email"
      placeholder="name@example.com">
  </div>
  <div class="mb-1 mt-2">

    <label for="inputPassword5" class="form-label mb-1">Password</label>
    <input type="password" id="inputPassword5" class="form-control" [(ngModel)]="password"
      aria-describedby="passwordHelpBlock">
  </div>
  <div class="mb-1 mt-2">

    <label for="inputPassword5" class="form-label mb-1">Confirm Password</label>
    <input type="password" id="inputPassword5" class="form-control" [(ngModel)]="confirmPassword"
      aria-describedby="passwordHelpBlock">
  </div>
  <div class="mx-auto mt-3 d-flex">
    <span>

      <button class="btn btn-primary mx-auto">Sign Up</button>
    </span>

    <p class="mt-1 mx-4">Or</p>
    <h6 class="mt-2" style="text-decoration: underline;cursor:pointer">Log In</h6>
  </div>
</div> -->
